.nav{
    position: relative;
    border-bottom: 2px solid cornflowerblue;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}
.popup{
    position: absolute;
    background-color: white;
    height: fit-content;
    width: 10%;
    padding: 5px;
    z-index: 1;
    margin-top: 60px;
}
.avatar{
    margin-right: 40px;
    z-index: 2;
}
.popup small{
    color: gray;
    display: block;
}
.small{
    margin-top: 150px;
}
.user{
    color: gray;
    z-index: 2;
}
.profile p{
  margin: 5px;
  color: cornflowerblue;
}
